[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "/home/jove/.vim/bundle/vim-go"]
	path = /home/jove/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = https://github.com/SirVer/ultisnips.git
